{% extends "base.html" %}
{% block page %}

    <div class="row page-headers">
        <h2>
            Add Recipe
        </h2>
    </div>

    <!-- Form to add recipe -->
    <div class="add-form">
        <form method="POST" action="{{ url_for('add_recipe') }}" class="form-box">
            <!-- Category selection -->
            <div class="mb-3">
                <label for="recipe_type">Recipe Category</label>
                <select class="form-select validate" aria-label="Default select example" id="recipe_type" name="recipe_type" required>
                    <option>Choose Category</option>
                    {% for recipe in recipe_type %}
                        <option value="{{ recipe.recipe_type }}">{{ recipe.recipe_type }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Recipe name -->
            <div class="mb-3">
                <label for="recipe_name" class="form-label">Recipe Name</label>
                <input type="text" name="recipe_name" class="form-control validate" id="recipe_name" aria-describedby="recipeHelp" required>
            </div>
            <!-- Cooking Time -->
            <div class="mb-3">
                <label for="cooking_time" class="form-label">Cooking Time</label>
                <input type="text" name="cooking_time" class="form-control validate" id="cooking_time" maxlength="20">
            </div>
            <!-- Ingredients -->
            <div class="mb-3">
                <label for="ingredients">Ingredients</label>
                <textarea class="form-control validate" name="ingredients" id="ingredients" required></textarea>
            </div>
            <!-- Instructions -->
            <div class="mb-3">
                <label for="instructions">Cooking Instructions</label>
                <textarea class="form-control validate" name="instructions" id="instructions"></textarea>
            </div>
            <!-- Submit button -->
            <div class="add-recipe">
                <button type="submit" class="btn btn-primary add-recipe-button">
                    Add Recipe
                </button>
            </div>
        </form>
    </div>
    
{% endblock %}