{% extends "base.html" %}
{% block page %}

    <div class="row page-headers">
        <h2>
            Edit Recipe
        </h2>
    </div>

    <!-- Form to add recipe -->
    <form method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="form-box">
        <!-- Category selection -->
        <div class="mb-3">
            <label for="recipe_type">Recipe Category</label>
            <select class="form-select validate" aria-label="Default select example" id="recipe_type" name="recipe_type" required>
                <option disabled selected>{{ recipe.recipe_type }}</option>
                {% for recipe in recipe_type %}
                    {% if recipe.recipe_type == recipe.recipe_type %}
                        <option value="{{ recipe.recipe_type }}">{{ recipe.recipe_type }}</option>
                    {% else %}
                    <option value="{{ recipe.recipe_type }}">{{ recipe.recipe_type }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <!-- Recipe name -->
        <div class="mb-3">
            <label for="recipe_name" class="form-label">Recipe Name</label>
            <input type="text" name="recipe_name" value="{{ recipe.recipe_name }}" class="form-control validate" id="recipe_name" aria-describedby="recipeHelp" required>
        </div>
        <!-- Cooking time -->
        <div class="mb-3">
            <label for="cooking_time" class="form-label">Cooking Time</label>
            <input type="text" name="cooking_time" value="{{ recipe.cooking_time }}" class="form-control validate" id="cooking_time" maxlength="20">
        </div>
        <!-- Ingredients -->
        <div class="mb-3">
            <label for="ingredients">Ingredients</label>
            <textarea class="form-control validate" name="ingredients" id="ingredients" aria-label="Ingredients text area" required>
                {{- recipe.ingredients -}}
            </textarea>
        </div>
        <!-- Instructions -->
        <div class="mb-3">
            <label for="instructions">Cooking Instructions</label>
            <textarea class="form-control validate" name="instructions" id="instructions" aria-label="Instructions text area">
                {{- recipe.instructions -}}
            </textarea>
        </div>
        <!-- Edit button -->
        <div class="edit-add-type">
            <div class="edit-add-div">
                <a href="{{ url_for('get_recipes') }}" class="btn btn-primary" aria-label="Cancel button">
                    Cancel
                </a>
                <button type="submit" class="btn btn-primary" aria-label="Edit button">
                    Edit
                </button>
            </div>
        </div>
    </form>
    
{% endblock %}