{% extends "base.html" %}
{% block page %}

    <div class="row page-headers">
        <h2>
            Edit Recipe Types
        </h2>
    </div>

    <form method="POST" action="{{ url_for('edit_type', type_id=type._id) }}">
        <!-- Recipe Type -->
        <div class="mb-3">
            <label for="recipe_type" class="form-label">Recipe Type</label>
            <input type="text" value="{{ type.recipe_type }}" name="recipe_type" class="form-control validate" id="recipe_type" 
                maxlength="25" aria-describedby="recipeHelp" required>
        </div>
        <!-- Submit and cancel button -->
        <div class="edit-type">
            <div class="edit-div">
                <a href="{{ url_for('get_types') }}" class="btn btn-primary">Cancel</a>
                <button type="submit" class="btn btn-primary">
                    Edit Recipe Type
                </button>
            </div>
        </div>
    </form>
    
{% endblock %}