{% extends "base.html" %}
{% block page %}

    

    <div class="row page-headers">
        <h2>
            {{ username }}'s Profile
        </h2>
    </div>

    <div class="row profile-card">
        <div class="card col-lg-4 col-md-6 col-sm-12">
            <div class="card-body">
                <img src="{{ url_for('static', filename='assets/img/recipe_profile.jpg') }}" class="card-img-top" alt="FOB gallery 1">
                <a href="{{ url_for('get_recipes') }}" class="btn btn-primary btn-sm">Recipes</a>
            </div>
        </div>
        <div class="card col-lg-4 col-md-6 col-sm-12">
            <div class="card-body">
                <img src="{{ url_for('static', filename='assets/img/recipe_profile.jpg') }}" class="card-img-top" alt="FOB gallery 1">
                <a href="{{ url_for('add_recipe') }}" class="btn btn-primary btn-sm">Add Recipe</a>
            </div>
        </div>
    </div>


{% endblock %}