{% extends "base.html" %}
{% block page %}
    
    <h2>Recipes</h2>

    <!-- Search tool -->
    <div class="row card">
        <form action="{{ url_for('search') }}" method="post">
            <div class="row">
                <input type="text" name="query" id="query" class="validate" minlength="3" maxlength="40" pattern="^[a-zA-Z0-9]{3,40}$" required>
                <label for="query">Search Recipes</label>
            </div>
            <!-- Search and reset buttons -->
            <div class="row">
                <a href="{{ url_for('get_recipes') }}" class="btn btn-primary btn-sm">Reset</a>
                <button type="submit" class="btn btn-primary">
                    Search
                </button>
            </div>
        </form>   
    </div>

    {% if recipes|length > 0 %}
    <div class="accordion accordion-flush" id="accordionFlushExample">
        {% for recipes in recipes %}
        <div class="accordion-item">
            <div class="col mb-3">
            {% if session.user|lower == recipes.created_by|lower %}
                <a href="{{ url_for('delete_recipe', recipe_id=recipes._id) }}" class="btn btn-primary btn-sm">Delete</a>
                <a href="{{ url_for('edit_recipe', recipe_id=recipes._id) }}" class="btn btn-primary btn-sm">Edit</a>
            {% endif %}
            </div>
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    {{ recipes.recipe_type }} : {{ recipes.cooking_time }}
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    {{ recipes.recipe_name }}
                    <p style="white-space: pre-wrap;">{{ recipes.ingredients }}</p>
                    <p style="white-space: pre-wrap;">{{ recipes.instructions }}</p>
                    <p>by: {{ recipes.created_by }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <h3 class="red-text">No Results Found</h3>
    {% endif %}

{% endblock %}