{% extends "base.html" %}
{% block page %}
    <h2>This is where the recipes will go...</h2>


        <div class="accordion accordion-flush" id="accordionFlushExample">
            {% for recipes in recipes %}
            <div class="accordion-item">
                <div class="col">
                {% if session.user|lower == recipes.created_by|lower %}
                    <a href="{{ url_for('delete_recipe', recipe_id=recipes._id) }}" class="btn btn-primary btn-sm">Delete</a>
                    <a href="{{ url_for('edit_recipe', recipe_id=recipes._id) }}" class="btn btn-primary btn-sm">Edit</a>
                {% endif %}
                </div>
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        {{ recipes.recipe_type }} : {{ recipes.cooking_time }}
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        {{ recipes.recipe_name }}
                        <p>{{ recipes.ingredients }}</p>
                        <p>by: {{ recipes.created_by }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

{% endblock %}