{% extends "base.html" %}
{% block page %}
    
    <h2>Manage Recipe Types</h2>

    <!-- Button link to add new recipe type page -->
    <div class="row">
        <a href="{{ url_for('add_type') }}" class="btn btn-primary">Add Recipe Type</a>
    </div>
    <!-- Recipe types -->
    <div class="row">
        {% for type in recipe_type %}
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ type.recipe_type }}</h5>
                    <!-- Edit and delete options -->
                    <a href="{{ url_for('edit_type', type_id=type._id) }}" class="btn btn-primary">Edit</a>
                    <a href="{{ url_for('delete_type', type_id=type._id) }}" class="btn btn-primary">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}